<h1>Leagues</h1>

<table class="table table-striped table-bordered">
  <thead class="table-light sticky-top">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">URL</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><%= league.name %></td>
        <td>
          <% if league.url.present? %>
            <%= link_to league.url, league.url, target: "_blank", rel: "noopener" %>
          <% else %>
            N/A
          <% end %>
        </td>
        <td><%= league.created_at.strftime("%b %-d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
